*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: bisque;
}
.titulo{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.titulo .h1{
    font-weight: 300;
}

.container{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
}

.container .form{
    width: 30%;
    height: 250px;
    margin: 15px 15px;
    background-color: rgb(143, 138, 138);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(0, 0, 0, 0.3);
}

.container .form h2{
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: whitesmoke;
}

.container .form form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .form form input,
.container .form form button{
    width: 60%;
    padding: 10px;
    margin: 10px 10px;
}

.container .listado{
    background-color: rgb(135, 132, 132);
    width: 55%;
    height: calc(100% - 50px);
    margin: 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(0, 0, 0, 0.3);
}

.container .listado h2{
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: whitesmoke;
}

.container .listado .divEmpleados{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 0 30px;
}
.container .listado .divEmpleados p{
    margin: 10px 0;
    font-size: 1em;
    color: #ddd;
}

hr {
    width: 100%;
    height: 1px;
}

.btn {
    padding: 5px 10px;
    border: none;
    margin: 0 5px;
    color: white;
    border-radius: 50px;
}

.btn-editar{
    background-color: green;
}

.btn-eliminar{
    background-color: red;
}