*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: red;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

h1{
    font-size: 1.5em;
}

.grid-container{
    background-color: white;
    height: 100vh;
    max-width: 600px;
    padding: 20px;
    margin: 40px;
    border-radius: 20px;
    display: grid;
    grid-template-areas: 
    "header"
    "main";
    grid-template-rows: 100px auto;
}

.header{
    display: grid;
    grid-template-columns: 3fr auto;
    align-items: center;
    background-color: blue;
    grid-area: header;
}

.header .badge{
    background-color: hsl(219, 85%, 26%);
    color: white;
    padding: 0 12px;
    font-size: 0.7em;
    border-radius: 6px;
}

.header a{
    /* alinea al hijo mismo */
    justify-self: end; 
    color: hsl(219, 12%, 42%);
}

.header a:hover{
    color: hsl(219, 85%, 26%);
    text-decoration: none;
}

.main{
    background-color: aqua;
    grid-area: main;
    display: grid;
    align-content: flex-start;
    gap: 10px;
    
}
.main .card{
  
    border-radius: 10px;
    background-color: blueviolet;
    padding: 10px;
    display: grid;
    grid-template-areas: 
    "avatar content"
    ". time";
    grid-template-columns: 20% 80%;
    gap: 10px;
}

.main .card .avatar{
    grid-area: avatar;
}
.main .card .avatar img{
    width: 60px;
    margin: 0 auto;
}
.main .card .content{
    grid-area: 'content';
}
.main .card .time{
    grid-area: time;
}




@media (min-width: 600px){
    .grid-container{
        margin: 40px auto;
        border-radius: 20px;
        border-radius: 30px;
    }
    h1{
        font-size: 2em;
    }
    main{
        gap: 30px;
    }
}

